<style>
  .alert-box {
    width: 50%;
  }

  @media (max-width: 768px) {
    .alert-box {
      width: 90%;
    }
  }
</style>
<% if (success && success.length) { %>
<div
  class="alert text-center alert-success alert-dismissible fade show mx-auto alert-box"
  role="alert"
>
  <%= success %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if (error && error.length) { %>
<div
  class="alert alert-danger alert-dismissible fade show mx-auto alert-box"
  role="alert"
>
  <%= error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
